* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  overflow: hidden; /* Evita cualquier scroll innecesario */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contenedor principal usando Flexbox */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa exactamente el 100% de la ventana */
}

/* Barra de navegación (Header) */
.App-header {
  background-color: #282c34;
  color: white;
  padding: 15px 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5); /* Sombra para darle profundidad */
  z-index: 10; /* Asegura que el header esté por encima del mapa */
}

/* Cuerpo de la app (donde va el mapa) */
.App-body {
  flex-grow: 1; 
  background-color: #282c34; /* Mismo color oscuro del Header */
  display: flex;
  justify-content: center; /* Centra el cuadro horizontalmente */
  align-items: center;     /* Centra el cuadro verticalmente */
  padding: 20px;           /* Un poco de espacio para que no toque los bordes */
}

.map-container {
  width: 100%;
  height: 100%;
}